<h2>Products</h2>
<div *ngFor="let product of products">
	<h3>
		<a [title]="product.name + ' details'">
			{{product.name}}
		</a>
		<br />
  </h3>

		<p id="rating" *ngIf="product.rating">
			Rating: {{product.rating}}
		</p>

		<p *ngIf="product.description">
			Description: {{product.description}}
		</p>

		<div class="images">
			<a href="{{product.link}}">
				<img id="img" src="{{product.image}}" width="300" alt="images" />
      </a>
		</div>
		<br />
		<div id="links">
			<a class="linkes"
				href="https://api.whatsapp.com/send?phone=77004799747&text=Dastan, check this web  store!! https://project-shop.stackblitz.io/"
				target="_blank">
				<button>Whatsapp</button>
			</a>
			<br />
			<a class="linkes"
				href="https://telegram.me/share/url?url=Dastan!&text= Dastan, check this web store!! https://project-shop.stackblitz.io/"
				target="_blank">
				<button>Telegram</button>
			</a>
		</div>
</div>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
