<a class="cats" [routerLink]="['/category']"><h1>Category list</h1></a>
<a class="cats" [routerLink]="['/firstcat']"><h1>Expensive</h1></a>
<a class="cats" [routerLink]="['/secondcat']"><h1>Low price</h1></a>
<a class="cats" [routerLink]="['/thirdcat']"><h1>High rating</h1></a>
<a class="cats" [routerLink]="['/fourthcat']"><h1>Low Rating</h1></a>
<a class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a>
<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
