#rating{
  color: red;
  font-weight: bold;
}
#links{
  display: flex;
}
.linkes{
  margin: 10px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/